/* ========== Grundlagen ========== */
/* ========== Grundlagen ========== */
/* ========== Grundlagen ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== Fonts ========== */

@font-face {
  font-family: "PrimaryFont";
  src: url("../fonts/Akshar-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "TitleFont";
  src: url("../fonts/Audiowide-Regular.ttf") format("truetype");
  font-style: normal;
}

/* ========== Root (variabeln) ========== */
:root {
  --color-grey: #2f2f2f;
  --color-blue: #8bc5e4;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-darkblue: #a5b8cc;

  --font-primary: "PrimaryFont", Arial, Helvetica, sans-serif;
  --font-title: "TitleFont", Arial, Helvetica, sans-serif;
}

/* ========== Grundlayout ========== */
/* ========== Grundlayout ========== */
/* ========== Grundlayout ========== */

body {
  min-height: 100vh;
  background-color: var(--color-grey);
  color: var(--color-white);
  font-family: var(--font-primary);
}

.page {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 48px 40px 32px;
}

/* ========== Elemente ========== */
/* ========== Elemente ========== */
/* ========== Elemente ========== */

/* ========== Header ========== */

.hero {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 40px 40px 0;
  text-align: center;
  margin-bottom: 5px;
}

.hero-title {
  font-family: var(--font-title);
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 4px;
  color: var(--color-white);
}

.hero-subtitle {
  margin-top: 24px;
  font-family: var(--font-primary);
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-darkblue);
}

/* ========== Hauptbereich mit Memory und Leaderboard ========== */

.game-layout {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 96px;
  align-items: start;
}

/* ========== Memory ========== */

.memory {
  display: grid;
  grid-template-columns: repeat(4, 135px);
  gap: 16px;
}

.memory-card {
  width: 135px;
  aspect-ratio: 1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.memory-card--black {
  background-color: var(--color-black);
}

.memory-card--white {
  background-color: var(--color-white);
}
